<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <form>
          <input type="text" name="keywordSearch" [(ngModel)]="keywordSearch"
            (keypress)="searchProduct()" (keydown.backspace)="searchProduct()"/>
        </form>
        {{keywordSearch}}
        <a routerLink="/product/new" class="btn btn-primary">Agregar</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de liberacion</th>
            <th scope="col">Fecha de restructuracion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of listedProducts">
            <th scope="row"><img [src]="product.logo" class="img-responsive logo-product" alt=""></th>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_release}}</td>
            <td>{{product.date_revision}}</td>
            <td><a [routerLink]="['/product/', product.id]" (click)="editProduct(product)">Editar</a></td>
          </tr>
        </tbody>
      </table>
      <div>
        <strong>Total products:</strong> {{totalProducts?.length}}
        <select name="perPage" [(ngModel)]="itemsPerPage" (change)="initPerPage()">
          <option *ngFor="let cant of listPerPage" [value]="cant">{{cant}}</option>
        </select>
        <button class="btn btn-primary" (click)="goToPreviousPage()">Anterior</button>
        {{currentPage}} / {{totalPages}}
        <button class="btn btn-primary" (click)="goToNextPage()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
